@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0.1298 0.0425 265.1322);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.1298 0.0425 265.1322);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.1298 0.0425 265.1322);
	--primary: oklch(0.2084 0.0417 266.3592);
	--primary-foreground: oklch(0.9842 0.0034 247.8575);
	--secondary: oklch(0.9683 0.0069 247.8956);
	--secondary-foreground: oklch(0.2084 0.0417 266.3592);
	--muted: oklch(0.9683 0.0069 247.8956);
	--muted-foreground: oklch(0.5542 0.046 257.5261);
	--accent: oklch(0.9683 0.0069 247.8956);
	--accent-foreground: oklch(0.2084 0.0417 266.3592);
	--destructive: oklch(0.583 0.2387 28.4765);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.9288 0.0126 255.5078);
	--input: oklch(0.9288 0.0126 255.5078);
	--ring: oklch(0.7038 0.0402 256.9929);
	--chart-1: oklch(0.6471 0.2173 36.8511);
	--chart-2: oklch(0.6049 0.107 184.1653);
	--chart-3: oklch(0.3972 0.0698 227.1914);
	--chart-4: oklch(0.829 0.1712 81.0381);
	--chart-5: oklch(0.7724 0.1728 65.367);
	--sidebar: oklch(0.9842 0.0034 247.8575);
	--sidebar-foreground: oklch(0.1298 0.0425 265.1322);
	--sidebar-primary: oklch(0.2084 0.0417 266.3592);
	--sidebar-primary-foreground: oklch(0.9842 0.0034 247.8575);
	--sidebar-accent: oklch(0.9683 0.0069 247.8956);
	--sidebar-accent-foreground: oklch(0.2084 0.0417 266.3592);
	--sidebar-border: oklch(0.9288 0.0126 255.5078);
	--sidebar-ring: oklch(0.7038 0.0402 256.9929);
	--font-sans: Satoshi, ui-sans-serif, sans-serif, system-ui;
	--font-serif: Satoshi, ui-serif, serif;
	--font-mono: Satoshi, ui-monospace, monospace;
	--radius: 0.75rem;
	--shadow-x: 0;
	--shadow-y: 1.5px;
	--shadow-blur: 2.5px;
	--shadow-spread: 1px;
	--shadow-opacity: 0.4;
	--shadow-color: #bdbdbd;
	--shadow-2xs: 0 1.5px 2.5px 1px hsl(0 0% 74.1176% / 0.2);
	--shadow-xs: 0 1.5px 2.5px 1px hsl(0 0% 74.1176% / 0.2);
	--shadow-sm:
		0 1.5px 2.5px 1px hsl(0 0% 74.1176% / 0.4), 0 1px 2px 0px
		hsl(0 0% 74.1176% / 0.4);
	--shadow:
		0 1.5px 2.5px 1px hsl(0 0% 74.1176% / 0.4), 0 1px 2px 0px
		hsl(0 0% 74.1176% / 0.4);
	--shadow-md:
		0 1.5px 2.5px 1px hsl(0 0% 74.1176% / 0.4), 0 2px 4px 0px
		hsl(0 0% 74.1176% / 0.4);
	--shadow-lg:
		0 1.5px 2.5px 1px hsl(0 0% 74.1176% / 0.4), 0 4px 6px 0px
		hsl(0 0% 74.1176% / 0.4);
	--shadow-xl:
		0 1.5px 2.5px 1px hsl(0 0% 74.1176% / 0.4), 0 8px 10px 0px
		hsl(0 0% 74.1176% / 0.4);
	--shadow-2xl: 0 1.5px 2.5px 1px hsl(0 0% 74.1176% / 1);
	--tracking-normal: -0.025em;
	--spacing: 0.24rem;
}

.dark {
	--background: oklch(0.1553 0.0042 285.8987);
	--foreground: oklch(0.9842 0.0034 247.8575);
	--card: oklch(0.1869 0.0107 268.1117);
	--card-foreground: oklch(0.9842 0.0034 247.8575);
	--popover: oklch(0.2039 0.0025 247.9507);
	--popover-foreground: oklch(0.9842 0.0034 247.8575);
	--primary: oklch(0.9288 0.0126 255.5078);
	--primary-foreground: oklch(0.276 0.0062 258.3576);
	--secondary: oklch(0.3557 0.0788 253.5571);
	--secondary-foreground: oklch(0.9842 0.0034 247.8575);
	--muted: oklch(0.2223 0.006 271.1393);
	--muted-foreground: oklch(0.6233 0.021 255.5846);
	--accent: oklch(0.5032 0.1608 260.3383);
	--accent-foreground: oklch(0.9842 0.0034 247.8575);
	--destructive: oklch(0.7022 0.1892 22.2279);
	--destructive-foreground: oklch(0.985 0 0);
	--border: oklch(0.2393 0 0);
	--input: oklch(0.2046 0 0);
	--ring: oklch(0.3779 0.0242 262.8209);
	--chart-1: oklch(0.4878 0.2432 264.4045);
	--chart-2: oklch(0.7019 0.1577 160.4375);
	--chart-3: oklch(0.7724 0.1728 65.367);
	--chart-4: oklch(0.6217 0.2589 305.309);
	--chart-5: oklch(0.6435 0.2452 16.501);
	--sidebar: oklch(0 0 0);
	--sidebar-foreground: oklch(0.7539 0.0099 242.8825);
	--sidebar-primary: oklch(0.4878 0.2432 264.4045);
	--sidebar-primary-foreground: oklch(0.9842 0.0034 247.8575);
	--sidebar-accent: oklch(0.2799 0.0408 260.3294);
	--sidebar-accent-foreground: oklch(0.9842 0.0034 247.8575);
	--sidebar-border: oklch(1 0 0);
	--sidebar-ring: oklch(0.5159 0.0223 262.9217);
	--font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
	--font-serif: Adamina, ui-serif, serif;
	--font-mono: Fira Code, ui-monospace, monospace;
	--radius: 0.75rem;
	--shadow-x: 0;
	--shadow-y: 1.5px;
	--shadow-blur: 2.5px;
	--shadow-spread: 1px;
	--shadow-opacity: 0.4;
	--shadow-color: #212121;
	--shadow-2xs: 0 1.5px 2.5px 1px hsl(0 0% 12.9412% / 0.2);
	--shadow-xs: 0 1.5px 2.5px 1px hsl(0 0% 12.9412% / 0.2);
	--shadow-sm:
		0 1.5px 2.5px 1px hsl(0 0% 12.9412% / 0.4), 0 1px 2px 0px
		hsl(0 0% 12.9412% / 0.4);
	--shadow:
		0 1.5px 2.5px 1px hsl(0 0% 12.9412% / 0.4), 0 1px 2px 0px
		hsl(0 0% 12.9412% / 0.4);
	--shadow-md:
		0 1.5px 2.5px 1px hsl(0 0% 12.9412% / 0.4), 0 2px 4px 0px
		hsl(0 0% 12.9412% / 0.4);
	--shadow-lg:
		0 1.5px 2.5px 1px hsl(0 0% 12.9412% / 0.4), 0 4px 6px 0px
		hsl(0 0% 12.9412% / 0.4);
	--shadow-xl:
		0 1.5px 2.5px 1px hsl(0 0% 12.9412% / 0.4), 0 8px 10px 0px
		hsl(0 0% 12.9412% / 0.4);
	--shadow-2xl: 0 1.5px 2.5px 1px hsl(0 0% 12.9412% / 1);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);

	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-normal: var(--tracking-normal);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
	letter-spacing: var(--tracking-normal);
	font-family: "Satoshi", sans-serif;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
